<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <div th:replace="fragments/head"></div>
    <script type="application/javascript" src="../js/validationAuthorForm.js"></script>
</head>
<body>
<header>
    <h1>SpotSong</h1>
    <img src="../../images/logo.png" alt="logo" width="100" height="100" >
</header>
<div th:replace="fragments/navbar"></div>

<main>
    <h2>Szczegóły autora</h2>
    <form class="form">
        <label for="authorName">Imie: <span class="symbol-required">*</span></label>
        <input type="text" name="authorName" id="authorName" th:value="${author.firstName}" disabled>
        <span id="errorAuthorName"></span>

        <label for="lastName">Nazwisko: *</label>
        <input type="text" name="lastName" id="lastName" th:value="${author.lastName}" disabled>
        <span id="errorLastName"></span>

        <label for="nickname">Pseudonim: *</label>
        <input type="text" name="nickname" id="nickname" th:value="${author.nickName}" disabled>
        <span id="errorNickname"></span>
    </form>
    <ul>
        <li>
            <label> Data urodzenia: <td><span th:text="${author.birthday}"></span></td></label>
        </li>
    </ul>

    <h2>Albumy</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Data wydania</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="album: ${author.albums}">
            <td><a th:href="@{/album/details/{id}(id=${album.id})}"><span th:text="${album.name}"></span></a></td>
            <td><span th:text="${album.releaseDate}"></span></td>
        </tr>
        </tbody>
    </table>

</main>

<footer>
    Tomasz Pietrzyk, s22733
</footer>

</body>
</html>