<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <div th:replace="fragments/head"></div>
    <script type="application/javascript" src="../js/validationAuthorForm.js"></script>
</head>
<body>
<header>
    <h1>SpotSong</h1>
    <img src="../../images/logo.png" alt="logo" width="100" height="100" >
</header>
<div th:replace="fragments/navbar"></div>

<main>
    <h2>Nowy autor</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="authorName">Imie: <span class="symbol-required">*</span></label>
        <input type="text" name="authorName" id="authorName" required>
        <span id="errorAuthorName"></span>

        <label for="authorLastName">Nazwisko: <span class="symbol-required">*</span></label>
        <input type="text" step="1" name="authorLastName" id="authorLastName"  required>
        <span id="errorAuthorLastName"></span>

        <label for="nickname">Pseudonim: </label>
        <input type="text" name="nickname" id="nickname"  >
        <span id="errorNickname"></span>

        <label for="dateOfBirth">Data urodzenia: <span class="symbol-required">*</span></label>
        <input type="date" name="dateOfBirth" id="dateOfBirth" required>
        <span id="errorDateOfBirth"></span>
        <div>
            <br>
            <input type="submit" class="form-button-submit" value="Dodaj">
            <a href="/author/list" class="form-button-cancel" >Anuluj</a>
            <p id="errorsSummary"></p>
        </div>
    </form>


</main>

<footer>
    Tomasz Pietrzyk, s22733
</footer>

</body>
</html>