<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <div th:replace="fragments/head"></div>
    <script type="application/javascript" src="../js/validationSongForm.js"></script>
</head>
<body>
<header>
    <h1>SpotSong</h1>
    <img src="../../images/logo.png" alt="logo" width="100" height="100" >
</header>
<div th:replace="fragments/navbar"></div>

<main>
    <h2>Lista utworów</h2>
    <p>Brak rekordów do wyświetlenia</p>
    <p><a href="" class="button-add">Dodaj nowy utwór</a></p>
</main>

<footer>
    Tomasz Pietrzyk, s22733
</footer>

</body>
</html>